body {
     font-family: Arial, Helvetica, sans-serif;
      margin: 30px;
}

h1 {
    text-align: center;
    color: black                                                                                                                                                    ;
    margin-bottom: 40px;
}
.block-menu a {
    display: block;
    background-color: orchid;
    color: white;
    padding: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}
.inline-menu a {
    display: inline;
    background-color: blue;
    color: white;
    padding: 6px 12px;
    margin-right: 6px;
    text-decoration: none;
}
.inline-block-menu a {
    display: inline-block;
    background-color: goldenrod;
    color: white;
    padding: 12px 20px;
    margin-right: 10px;
    text-decoration: none;
}

.float-menu a {
    float: left;
    background-color: #4ae5b1;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin-right: 10px;
}
.clear {
    clear: both;
}