/*reset*/
*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 20px;
}

.logo{
    font-size: 1.5rem;                  /*rem depends on root and here root is navbar, 1.5x navbar*/
    font-weight: bold;
}

.nav-links{
    display: flex;                      /*applied flex again bcz its not direct child*/
    list-style: none;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 1rem;                     /*same as root element*/   /*em=parent, rem=child*/
}

.actions a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*responsive design*/
@media(max-width: 768px){
    .nav-links{
        display: none;              /*hide menu on smaller screens*/
    }
    .actions{
        font-size: 0.9rem;
    }
}

@media(min-width: 769px) and (min-width: 1024px){
    .nav-links a{
        font-size: 0.9rem;
    }
}

@media(min-width:1025px){
    .nav-links a{
        font-size: 1rem;
    }
}
