* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:#f5f5f5 ;
    color: #333;
}

/* ===== Navbar ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* ===== Home ===== */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.home-content h1 {
    font-size: 2.5rem;
}

.home-content span {
    color: #007bff;
}

.home-content p {
    margin: 15px 0;
}

.btn {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-image img {
    width: 280px;
    border-radius: 50%;
}

/* ===== About ===== */
.about {
    text-align: center;
    padding: 60px 20px;
}

.about p {
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
}

/* ===== Skills ===== */
.skills {
    text-align: center;
    padding: 60px 20px;
}

.skills-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    padding: 12px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ===== Projects ===== */
.projects {
    text-align: center;
    padding: 60px 20px;
}

.project-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project {
    width: 250px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* ===== Contact ===== */
.contact {
    text-align: center;
    padding: 60px 20px;
}

.contact form{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input,
.contact textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.footer {
    background: #e0e0e0;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #555;
    margin-top: 40px;
}